*{box-sizing:border-box;}
body{
    font-family: sans-serif;
    background: hsl(260, 8%, 18%);
    color: white;
}
header.main h1{
    text-align: center;
    font-family: 'Sanchez', sans-serif;
    color: hsl(260, 60%, 50%);
    font-weight: 100;
    letter-spacing: 2em;
    text-transform: uppercase;
    font-size: 1em;
}
a{
    color: inherit;
}
.container{
    width: 60%;
    min-width: 480px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}
.status{
    display: block;
    font-size: 0.8em;
    opacity: 0.5;
}
.controls{
    text-align: center;
}
.status:before{
    content: 'Status: ';
}
.controls .static{
    position: fixed;
    top: 96px;
    right: 0;

    background: hsl(100, 70%, 60%);
    padding: 4px;

    z-index: 5;
}
.playlist{
    margin-top: 2em;
}
.playlist .track{
    position: relative;
    height: 72px;
    display: block;
    overflow: hidden;
    padding: 8px;
    opacity: 0.35;
}
.playlist .title{
    font-size: 1.2em;
    font-family: 'Sanchez', sans-serif;
    font-weight: 100;
}
.playlist .album:before{
    content: 'Album';
}
.playlist .band:before{
    content: 'Band';
}
.playlist .album:before, .playlist .band:before{
    opacity: 0.5;
    display: inline-block;
    width: 4em;
}
.playlist .track .art{
    height: 100%;
    float: left;
    margin-right: 1em;
}
.playlist .track .remove{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    opacity: 0.5;
}
.playlist .track audio{
    display: none;
}
.playlist .track.playing{
    background: hsl(100, 50%, 33%);
    border-radius: 2px;
    box-shadow: hsla(0,0%,0%,0.2) 0 0 24px;
}
.playlist .track.playing{
    opacity: 1;
}
